<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <main class="container-sm mt-5 pt-5" role="main">
      <%= yield %>
    </main>
  </body>
</html>
